.hero-show {
    background-image: url("/storage/image/biji-coklat.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
}
